<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <application>
        <activity
            android:name="com.salton123.crash.TextViewerActivity"
            android:launchMode="singleTask"
            android:process=":leakcanary"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />

    </application>
</manifest>