<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salton123.rtc">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <service
            android:name="com.salton123.reprint.service.ShareScreenService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection" />

    </application>

</manifest>